@media (max-width:  1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-slide
      &__image
        height: 100%
        width: 100%
        object-fit: cover

@media (max-width:  992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 48px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      width: 100%
      flex-direction: row
  .slider
    width: 100%
  .booking
    width: 48%
    padding: 28px 20px
  .map
    width: 48%

@media (max-width:  767px)
  .container
    max-width: 576px
    width: 87%
  .navbar
    &-top
      padding-top: 24px
      padding-bottom: 30px
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      justify-content: space-between
      align-items: center
      flex-direction: column
      border: none
      background-color: $white
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 1px
    &-wrapper
      justify-content: space-between
      align-items: center
    &-name
      flex-basis: 100%
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__text
        width: 100%
  .stars
    flex-basis: auto
    margin-right: 11px
  .slider
    height: 350px

@media (max-width: 576px)
  .logo
    width: 99px
  .hotel-right
    flex-direction: column
  .booking
    width: 100%
  .map
    width: 100%

@media (max-width: 576px)
  .hotel
    &__slider
      margin-bottom: 22px
  .slider
    height: 179px
    margin-top: 18px
  .booking
    margin-bottom: 20px
  .map
    height: 172px
    &-iframe
      width: 100%
